.container {
    background: #0D1117;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 1000px;
    height: 500px;
    background: #fff;
    display: flex;
}

.imgContainer {
    background: black;
    object-fit: cover;
    width: 50%;
}

.imgContainer h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    /* display: flex; */
    width: 100%;
    height: 100%;
}

.formContainer {
    padding: 50px 150px 50px 150px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.formContainer i{
    color: black;
}

.title {
    color: rgb(17, 17, 17);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.form label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #2c3546;
}

.form input {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #d0d5dd;
    margin-bottom: 20px;
}

.form input::placeholder {
  color: #667085;
}

.form .submitBtn,
.form .googleBtn {
  display: block;
  outline: none;
  border: none;
  height: 44px;
  background: #181b20;
  border: 1px solid #181b20;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 8px;
  width: 100%;
}

.form .submitBtn:hover,
.form .googleBtn:hover {
  background: rgb(58, 174, 58);
  border: 1px solid rgb(58, 174, 58);
}

.form .googleBtn {
    background: #ffffff;
    border: 1px solid #d0d5dd;
    color: #344054;
}

.form .redirect {
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #475467;
}

.form .txt {
    font-weight: 600;
    color: #181b20;
    text-decoration: underline;
}

.form .txt:hover {
    color: rgb(58, 174, 58);
}

@media (max-width: 768px){    
    .form {
        width: 300px;
        height: 400px;
    }
    
    .imgContainer {
        display: none;
    }
    
    .imgContainer h1 {
        display: none
    }
    
    .formContainer {
        padding: 45px 50px 50px 50px;
        width: 100%;
    }
    
    .title {
        color: rgb(17, 17, 17);
        font-size: 20px;
        text-align: center;
        font-weight: 600;
    }
    
    .form label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #2c3546;
    }
    
    .form input {
        margin-bottom: 6px;
        height: 30px;
    }
    
    .form .submitBtn,
    .form .googleBtn {
        margin-bottom: 6px;
        font-size: 14px;
        height: 30px;
        font-size: 12px;
    }

    .form .redirect {
        font-size: 10px;
    }
}

@media (max-width: 1000px){    
    .form {
        width: 300px;
        height: 375px;
    }
    
    .imgContainer {
        display: none;
    }
    
    .imgContainer h1 {
        display: none
    }
    
    .formContainer {
        padding: 45px 50px 50px 50px;
        width: 100%;
    }
    
    .title {
        color: rgb(17, 17, 17);
        font-size: 20px;
        text-align: center;
        font-weight: 600;
    }
    
    .form label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #2c3546;
    }
    
    .form input {
        margin-bottom: 8px;
    }
    
    .form .submitBtn,
    .form .googleBtn {
      /* margin-bottom: 6px; */
      height: 30px;
      font-size: 12px;
      text-align: center;
      justify-content: center;
    }

    .form .redirect {
        font-size: 10px;
    }
}