.margin {
    margin: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.436);
  transition: 0.3s;
  width: 80%;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(58, 174, 58);
}

.container2 {
  padding: 2px 16px;
}

.imagen {
    width:100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

  
.date {
    color: rgb(255, 255, 255);
    text-align:center;
  }
  
.title{
    text-align:center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(58, 174, 58);
  }