* {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #0D1117; */
    padding: 20px 50px;
    box-shadow: 00 5px 15px rgba(0, 0, 0, 0.06);
    background: linear-gradient(75deg, rgb(26, 156, 14), rgb(14, 95, 156));
    box-sizing: border-box;
}

nav h1 {
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    list-style: none;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
}

.items span {
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
}

.list li span:hover {
    color: rgb(58, 174, 58);
}

.list li span:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(58, 174, 58);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
}

.mobile i{
    color: white;
}
  
.userAvatar {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background: #3c3e44;
    margin-right: 8px;
  }



@media screen and (max-width: 650px){    
    nav h1 {
        font-size: 15px;
    }

    #list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 81px;
        right: 0%;
        width: 50%;
        height: 100vh;
        background: linear-gradient(75deg, rgb(26, 156, 14), rgb(14, 95, 156));
        box-shadow: 0 20px 30px rgb(61, 97, 60);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    .items {
        margin-bottom: 25px;
    }

    .items span {
        font-size: 10px;
    }

    .mobile {
        display: block;
    }

    .mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}