*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 25px 0;
}

.titleContent{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    width: 100%;
}

.filtroTitle{
    color: white;
}

.fila{
    display: flex;
    flex-direction: row;
}

.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

/* .list_item {
    width: calc(25% - 10px);
    margin-bottom: 20px;
  } */

.filaCenter{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

.filtros{
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
    list-style: none;
    place-items: center;
    align-items: center;
    justify-items: center;
    width: 100%;
}

button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 10px;
}

.button:hover{
    background-color: rgb(26, 156, 14);
    box-shadow: 0 0 0.5em 0.1em rgb(26, 156, 14), 0 0 2em 0.1em rgb(26, 156, 14), inset 0 0 0.25em 0.1em rgb(26, 156, 14);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 10px;
}

.centerN{
    width: auto;
    margin: 5px;
    align-self: center;
    color: white;
}

.svg{
    filter: invert(100%);
}

.buscar{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.buscar:hover {
    background-color: rgb(26, 156, 14);
    box-shadow: 0 0 0.5em 0.1em rgb(26, 156, 14), 0 0 2em 0.1em rgb(26, 156, 14), inset 0 0 0.25em 0.1em rgb(26, 156, 14);
}

.filtroTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.input{
    display: block;
    width: 30%;
    height: 44px;
    color: white !important;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.flecha{
    cursor: pointer;
    width: 25px;
}

.movieContainer {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    padding: 15px 25px;
}

.filaBottom {
    display: flex;
    position: relative;
    justify-content: center;

}

.flecha i {
    font-size: 50px;
}

@media (max-width: 768px){
    .filtroTitle {
        font-size: 12px;
    }

    .button{
        padding: 10px 5px;
        font-size: 10px;
        /* margin: 4px 2px; */
    }

    .input{
        width: 45%;
    }
}
